.rm-alias-external:before {
    content: "🔗"
}

span.rm-page-ref[data-tag="OrgTech"]:before,
span[data-link-title^="OrgTech"] .rm-page-ref:before {
  content: "🛠";
}

span.rm-page-ref[data-tag="Brain Food"]:before,
span[data-link-title^="Brain Food"] .rm-page-ref:before {
  content: "🧠";
}

span.rm-page-ref[data-tag="Featured"]:before,
span[data-link-title^="Featured"] .rm-page-ref:before {
  content: "⭐️";
}

span.rm-page-ref[data-tag="Design"]:before,
span[data-link-title^="Design"] .rm-page-ref:before {
  content: "🎨";
}

span.rm-page-ref[data-tag="Research"]:before,
span[data-link-title^="Research"] .rm-page-ref:before {
  content: "🔬";
}

span.rm-page-ref[data-tag="Thoughts"]:before,
span[data-link-title^="Thoughts"] .rm-page-ref:before {
  content: "💭";
}

span.rm-page-ref[data-tag="Tweets"]:before,
span[data-link-title^="Tweets"] .rm-page-ref:before {
  content: "🐦";
}

span.rm-page-ref[data-tag="Podcasts"]:before,
span[data-link-title^="Podcasts"] .rm-page-ref:before {
  content: "🎙";
}

span.rm-page-ref[data-tag="Conferences"]:before,
span[data-link-title^="Conferences"] .rm-page-ref:before {
  content: "🎤";
}

span.rm-page-ref[data-tag="Sources"]:before,
span[data-link-title^="Sources"] .rm-page-ref:before {
  content: "📚";
}

span.rm-page-ref[data-tag="Orgs"]:before,
span[data-link-title^="Orgs"] .rm-page-ref:before {
  content: "🦠";
}

span.rm-page-ref[data-tag="Index"]:before,
span[data-link-title^="Index"] .rm-page-ref:before {
  content: "🗃";
}

span.rm-page-ref[data-tag="Blog"]:before,
span[data-link-title^="Blog"] .rm-page-ref:before {
  content: "📣";
}

span.rm-page-ref[data-tag="Topics"]:before,
span[data-link-title^="Topics"] .rm-page-ref:before {
  content: "🏷";
}

span.rm-page-ref[data-tag="Ideas"]:before,
span[data-link-title^="Ideas"] .rm-page-ref:before {
  content: "💭";
}

span.rm-page-ref[data-tag="Insights"]:before,
span[data-link-title^="Insights"] .rm-page-ref:before {
  content: "💡";
}

span.rm-page-ref[data-tag="People"]:before,
span[data-link-title^="People"] .rm-page-ref:before {
  content: "👤";
}

span.rm-page-ref[data-tag="Events"]:before,
span[data-link-title^="Events"] .rm-page-ref:before {
  content: "🎟";
}

span.rm-page-ref[data-tag="Projects"]:before,
span[data-link-title^="Projects"] .rm-page-ref:before {
  content: "🛣";
}

span.rm-page-ref[data-tag="Discussions"]:before,
span[data-link-title^="Discussions"] .rm-page-ref:before {
  content: "👥";
}

span.rm-page-ref[data-tag="Tools"]:before,
span[data-link-title^="Tools"] .rm-page-ref:before {
  content: "🛠";
}

span.rm-page-ref[data-tag="Working Groups"]:before,
span[data-link-title^="Working Groups"] .rm-page-ref:before {
  content: "🔬";
}

span.rm-page-ref[data-tag="Newsletter"]:before,
span[data-link-title^="Newsletter"] .rm-page-ref:before {
  content: "📨";
}

span.rm-page-ref[data-tag="Interview"]:before,
span[data-link-title^="Interview"] .rm-page-ref:before {
  content: "🎙";
}

span.rm-page-ref[data-tag="Essay"]:before,
span[data-link-title^="Essay"] .rm-page-ref:before {
  content: "📝";
}

span.rm-page-ref[data-tag="Case Study"]:before,
span[data-link-title^="Case Study"] .rm-page-ref:before {
  content: "🧫";
}

span.rm-page-ref[data-tag="Education"]:before,
span[data-link-title^="Education"] .rm-page-ref:before {
  content: "🏫";
}

span.rm-page-ref[data-tag="Report"]:before,
span[data-link-title^="Report"] .rm-page-ref:before {
  content: "📊";
}

span.rm-page-ref[data-tag="Article"]:before,
span[data-link-title^="Article"] .rm-page-ref:before {
  content: "📃";
}

span.rm-page-ref[data-tag="Book"]:before,
span[data-link-title^="Book"] .rm-page-ref:before {
  content: "📕";
}

span.rm-page-ref[data-tag="Paper"]:before,
span[data-link-title^="Paper"] .rm-page-ref:before {
  content: "📑";
}

span.rm-page-ref[data-tag="Podcast"]:before,
span[data-link-title^="Podcast"] .rm-page-ref:before {
  content: "🎙";
}

span.rm-page-ref[data-tag="Talk"]:before,
span[data-link-title^="Talk"] .rm-page-ref:before {
  content: "🎤";
}

span.rm-page-ref[data-tag="Panel"]:before,
span[data-link-title^="Panel"] .rm-page-ref:before {
  content: "👥";
}

span.rm-page-ref[data-tag="Video"]:before,
span[data-link-title^="Video"] .rm-page-ref:before {
  content: "📹";
}

span.rm-page-ref[data-tag="Tweet"]:before,
span[data-link-title^="Tweet"] .rm-page-ref:before {
  content: "🐦";
}

span.rm-page-ref[data-tag="Working Paper"]:before,
span[data-link-title^="Working Paper"] .rm-page-ref:before {
  content: "📝";
}

span.rm-page-ref[data-tag="Whitepaper"]:before,
span[data-link-title^="Whitepaper"] .rm-page-ref:before {
  content: "📜";
}
